.GameStats {
  position: absolute;
  width: min(22vw, 30vh); /* Адаптивная ширина */
  list-style-type: none;
  color: rgba(255, 255, 255, 0.5);
}

.GameStats__left {
  right: 0;
  top: 22vh;
  text-align: left;
}

.GameStats__right {
  right: 0;
  bottom: 0;
  text-align: left;
}

.GameStats .value {
  font-size: min(2.8rem, 5vh); /* Адаптивный размер шрифта */
  margin-bottom: 0.5em;
  color: rgba(255, 255, 255, 1);
}

/* Для мобильных */
@media (max-width: 768px) {
  .GameStats {
    width: min(25vw, 35vh);
  }

  .GameStats .value {
    font-size: min(2.2rem, 4vh);
  }
}
