.GameStats {
  list-style-type: none;
  color: rgba(255, 255, 255, 0.9);
  padding: 0;
  margin: 0;
}

.GameStats .value {
  font-size: min(2.8rem, 5vh);
  margin-bottom: 0.5em;
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.GameStats li {
  margin-bottom: 0.8em;
  font-size: min(1.2rem, 2.2vh);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.GameStats li:first-child {
  margin-top: 0;
}

/* Для мобильных */
@media (max-width: 768px) {
  .GameStats {
    text-align: center;
  }

  .GameStats .value {
    font-size: min(2.2rem, 4vh);
  }

  .GameStats li {
    font-size: min(1rem, 1.8vh);
    margin-bottom: 0.5em;
  }
}
